<p id="notice"><%= notice %></p>

<p>
  <strong>Rays name:</strong>
  <%= @x_ray.rays_name %><br>

  <strong>Rays results:</strong>
  <%= @x_ray.results %><br>

  <strong>Rays comments:</strong>
  <%= @x_ray.comments %>
</p>


