<p id="notice"><%= notice %></p>

<p>
  <strong>Name:</strong>
  <%= @medicine_categroy.name %>
</p>

<%= link_to 'Edit', edit_medicine_categroy_path(@medicine_categroy) %> |
<%= link_to 'Back', medicine_categroys_path %>
